something to consider: one of the tweakdb flats is active flag.  if the game crashes while active, what will happen when the game is loaded back up? (not this version, but a final version)

there will need to be safeguards that disable on startup, entering vehicles, workspots, etc

-----

no ingame actions observed.  that is expected, because the red4ext is a shell

-----

but otherwise, no errors in the mod's log