yaw always rotates around world z, regardless of what current pitch/roll are

this teleport locks out mouse x, but mouse y still pitches along world right

since this only rotates the camera, the body is still upright (probably what mouse rotations are tied to).  this means that pitching down shows the body in an un rotated state