I ran the test on several devices

most of the devices had hack as an option form me, but the cet code didn't find it

the cet did a fallback to the first in the list, and that fallback did perform an action

for the vending machine, it defaulted to spitting out food, which is what happens when you do a distract enemies hack

explosive fuel did the hacking minigame, and one other device, I forget which

a speaker played something, a tv played a glitched screen

so even though ping wasn't found, the hacks at least did something