teleport didn't rotate in pitch/roll except for the one where the player is laying down (maybe felled?)

I don't think set world transform ever worked
