changing modes made almost no difference

sometimes trying to roll would change yaw

pitch/roll never happened, only yaw