I saw no visible effect for any of the device hacks that I tried, except one:

the very last one I tried on an explosive container did successfully blow it up

-----

also, the status window got really wide like the first tester.  so next tester needs to cap the width, because it covers half my screen