the drone spawned/despawned properly

I made sure that I had hacking cyberware installed with ping attached

I was facing a device that I could successfully ping in the standard way

when I used the ping hotkey for the drone (it was spawned first), there was an error (see cet log)