this is only rotating the head (camera).  body seems unaffected



the camera is still upside down upon activation



mouse x rotates the player, mouse y seems blocked (camera pitch)





pitch button changes yaw

yaw button changes roll

roll button changes pitch





the hover up/down buttons work, but are pretty much useless since they continue to accelerate the player up or down each frame, getting way too fast in a very short time

