# RemoteBreach

pulls up the hacking minigame, but with no objectives or rewards

the mods I have in mind won't have any use for this, so it can be blacklisted from the list of available effects


# the rest

none of the other hacks have any visible effect in game

