the scan successfully showed entity name/type

it also showed available quickhacks

attempt to use quickhack failed

cycle quickhacks seemed to be against a different list

I would assume that cycle quickhack should go through the list of the entity's available
