this tester has been a mess.  multiple syntax errors, game call errors

then when it does work, I look in the log and there's nothing useful there, since everything was reported in the debug window

so I have no idea if there was success or not