base overheat didn't apply damage (not sure if it was supposed to)

ping appeared to work

blackwall hackupload was an instant kill


----

the status window gets really wide and covers most of the game's screen (making it incredibly difficult to see what I'm doing in game).  I changed the width from 400 to 100, but it looks like it widened later by itself