same problem as hover tester 1

frame rate of updates is slow, torques are induced

let there be flight bypassed the impulse events and exposed the ability to directly add forces/torques to the vehicle's rigid body.  that's probably the only way to get fluid control of a vehicle