pitch is yaw
roll is pitch
yaw is roll


default is upside down, though I don't know if it's because of corrupted camera

the imgui panel was saying red4ext wasn't loaded?  I don't remember exactly

------

next tester needs just be the red4ext version


