# device

the list seems pretty static regardless what I look at (vending machine, fuel bottle)

nothing worked, I don't know if they were the correct hacks for those devices

in other words, they don't line up with what my cyberdeck can do.  crate stack usually has a break chain, flood light has initiate overload.  but none of those options are in the list


# npc

they all do visual/audio effects.  the npc seems like they know they are being hacked

but they don't seem to do anything besides that

the exception was a black wall.  it would kill the npc

---

I was spamming quickhacks on an npc and some seem to be doing something, so time to slow down

madness worked (it's the one where they get confused and shoot their friends)

I think ping worked

locomotion looks like it halts them

---

maybe there's a damage system separate enough from status effect that it's not triggered by this tester

that one blackwall might be an instant death with extra effects and animations

mods that directly modify npc seem to work?