COMPLETE SUCCESS!!!!

spawn/despawn worked

device's distance from drone doesn't seem to matter

I tried on tv screens and they played appropriate distractions

ping worked

bottles exploded

the box with straps unlatched

in final code, that 'RemoteBreach' quickhack will need to be blacklisted, since it pulls up the hacking letter minigame with no clues, nothing to win