I spawned the drone and was able to use ping against a few devices (tv, speaker, window shutter)

the ping worked, it didn't deplete the player's ram (that's what is desired)