this worked just the same as customentity2e, so red4ext wasn't needed for this type of hacking

> NOTE: these tests were done with player's cyberware having ping installed.  need to test without the cyberware installed

-----

ran another round of tests with the cyberware swapped out so that the player doesn't have the ability to do any quickhacks.  it still worked from the drone