none of the rotations seemed to do anything

it showed that it connected to red4ext

the values in the imgui window show a change but then go back to zeros

I'm guessing the big question to try to answer is: is the locomotion system (or something else) resetting rotations before they can stick?