the drone spawned/despawned correctly

imgui window showed correctly


most effects did nothing, which is to be expected

here are the device effects that worked on the drone:

- damage_smoke
- destruction
- muzzle_flash


here are the player effects that worked on the player:

- blackwall_use_force
- cyberware_explosion





