# defaults

yaw is backward (+ turns counter clockwise)

roll didn't roll, but sometimes changed the yaw

# TransformUpdates:  DISABLED

still only yaw

# toggle camera

camera fully rotates, but body still stays upright

# quat params

changing param order still only affected yaw, so yaw was correct.  still possible that roll/pitch need to be reversed, by they are ignored anyway